{% extends 'hod_template/base_template.html' %}

{% block page_title %}
    Edit exam 
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Edit exam</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="{% url 'edit_exam_save' %}">
                        {% csrf_token %}

                        
                                {% comment %} Display Messages {% endcomment %}
                                {% if messages %}
                                <div class="form-group">
                                <div class="col-12">
                                    {% for message in messages %}
                                    {% if message.tags == "error" %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% elif message.tags == "success" %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                                        {{ message }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                                </div>
                                {% endif %}
                            
                     <div class="card-body">
                            <div class="form-group">
                                <label>Exam Name</label>
                                <input type="text" class="form-control" name="exam_name" value="{{ exam.exam_name }}">
                            </div>

                            <div class="form-group">
                                <label>Total </label>
                                <input type="number" class="form-control" name="total_score" value="{{ exam.total_score }}">
                                <input type="hidden" name="exam_id" value="{{ exam.id }}" />
                            </div>

                            <div class="form-group">
                                <label>Target Score</label>
                                <input type="number" class="form-control" name="target_score" value="{{ exam.target_score }}">
                            </div>

                            


                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Update exam</button>
                        </div>
                    </form>
                    </div>
		<br>
		<a class="btn btn-primary" href="{% url 'manage_exam' %}" role="button">Back</a> <br/>&nbsp;
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}